<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tr>
        <th>"Mastermind"</th>
      </tr>
      <tr>
        <td>
          <div id="description"></div>
        </td>
      </tr>
      <tr>
        <th>
          <div id="input"></div>
        </th>
      </tr>
    </table>
    </div>
    <script type='text/javascript' src="/js/lib/lodash.js"></script>
    <script type='text/javascript' src="/js/client.js"></script>
    <script>
      var ccc = generateNewCode(4)
      showColorInput("input")
    </script>
  </body>
</html>
